html,body{
	margin:0;
	padding:0;
	background-color:#ebebeb;
}
.top{
	width: 100%;
	min-width: 1140px;
	height: 55px;
	background-color:#ff6a00;
	line-height:50px;
	font-size:40px;
	text-align:center;
	font-family:Calibri,Arial;
	box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.41);
	color:white;
}
.container{
	display:block;
	width:1080px;
	height:auto;
	margin:auto;
	background-color:#fefefe;
	margin-top:40px;
	padding:30px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}
.full{
	width:100%;
}
.div_video{
	width:50%;
}
.div_btn,.div_video,.div_btn2{
	display:inline-block;
	vertical-align:top;
}
.div_btn,.div_btn2{
	width:49%;
	text-align:center;
}
.tabel_btn{
	width:100%;
	text-align:center;
	font-family:Calibri;
}
.tabel_btn tr:hover{
	background-color:#efefef;
}
table, table td, table tr{
	border-collapse:collapse;
}
.btn_raspuns{
	width:60px;
	height:60px;
	font-family:Calibri;
	font-size:40px;
	background-color:#ff6a00;
	border:1px solid #cc5500;
	color:white!important;
	border-radius:2px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}
.btn_raspuns:hover, .btn_start:hover{
	cursor: hand;
	background-color:#ffd100;
	transition-duration:0.3s;
}
.btn_start{
	margin-bottom:10px;
	font-family:Calibri;
	font-size:40px;
	background-color:#ff6a00;
	border:none;
	color:white!important;
	border-radius:2px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	padding:5px;
	width:50%;
	border:1px solid #cc5500;
}
h2{
	margin:0;
	padding:10px;
	font-family:Calibri;
	font-size:30px;
}
.text_rezultat{
	font-size:20px;
	font-family:Calibri;
}
textarea{
	width:100%;
	height:200px;
	max-width:100%;
	min-width:100%;
}
.menu{
	position:absolute;
	z-index:10;
	top:56px;
	padding:15px 10px;
	background-color:white;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	display:none;
	max-height:400px;
	overflow-y:auto;
	/*text-align:center;*/
	z-index: 1001;
}
.menu a{
	display:block;
	padding:5px 10px;
	font-family:Calibri;
	font-size:18px;
	border-left:5px solid #ededed;
	text-decoration:none;
	color:black;
}

.top > img {
	height:50px;
	width:60px;
	margin-right:7px;
	margin-top:1px;
	float:right;
	filter:drop-shadow(8px 8px 10px gray);
}

.menu a:hover,.active{
	border-left:5px solid black!important;
	color:#ff6a00!important;
	transition-duration:0.2s;
}
.pre_menu{
	height:45px;
	line-height:45px;
	position:absolute;
	top:0;
	color:white;
	font-family:Calibri;
	font-size:20px;
	border-right:2px solid #bc4e00;
	padding:5px 10px;
	z-index: 1001;
	background-color: #ff6a00;
}
.pre_menu a{
	color:white;
	text-decoration:none;
}
.pre_menu a:hover{
	color:#e1ff00;
	transition-duration:0.5s;
}
.menu-bg{
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}
video{
	border:none;
	box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.51);
}
.btn_menu2{
	display:block;
	padding:5px 10px;
	font-family:Calibri;
	font-size:18px;
	border-left:5px solid #ededed;
	text-decoration:none;
	color:black;
}
.btn_menu2:hover,.active{
	border-left:5px solid black!important;
	color:#ff6a00!important;
	transition-duration:0.2s;
}
.btn{
	font-family:Calibri;
	font-size:40px;
	text-decoration:none;
	background-color:#ff6a00;
	color:white!important;
	border-radius:2px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	padding:5px;
	width:80%;
	border:1px solid #cc5500;
}
.div_text{
	display: inline-block;
    vertical-align: top;
	width: 49%;
	height: 300px;
	overflow-y: auto;
	border: 1px solid #ffd4b6;
	background-color: #ffe8d7;
	padding: 3px;
}
.mark{
	color: #f9700f;
}
.center_div{
	width:100%;
	text-align:center;
}
.bottom{
	color: white;
	font-family: "Sans Serif";
	font-weight:bold;
	font-style:italic;
	font-size:17pt;
	width: 100%;
	text-shadow: 1px 1px 1px yellow;
	position: fixed;
	height: 30px;
	line-height: 20px;
	text-align: center;
	bottom: 0;
	background-color: #ff6a00;
}

.gurl {
	position:fixed;
	top:80px;
	left:10px;
	width:130px;
	height:150px;
	-webkit-animation: floating-text 0.5s ease alternate infinite ;
	
}

@keyframes floating-text {
  0% {
    transform: translateY(.2em);
   box-shadow:0 0 .5em #f2d59a,
      0 0 .2em #f2d59a,
      0 .3em .2em #f2d59a;

  }
  100% {
    box-shadow:0 0 .5em orange,
      0 0 .2em orange,
      0 .5em .5em orange;
  }
}

@-webkit-keyframes glow {
  from {
   box-shadow: 0 0 10px #f2b97a, 0 0 20px #f2b97a, 0 0 30px #f2b97a, 0 0 40px #f2b97a, 0 0 50px #f2b97a, 0 0 60px #f2b97ae, 0 0 70px #f2b97ae;
  }
  to {
   box-shadow: 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange;
  }
}